<!DOCTYPE html>
<html>
<head>
  <title>Anime List</title>
</head>
<body>
  <h1>Anime List</h1>
  <ul>
    <% animes.forEach(anime => { %>
      <li>
        <a href="/anime/<%= anime.id %>">
          <img src="<%= anime.imageUrl %>" alt="<%= anime.name %>">
          <p><%= anime.name %></p>
        </a>
      </li>
    <% }); %>
  </ul>
  <a href="/anime/upload">Upload a new anime</a>
</body>
</html>
