<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NakamaStream - Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/src/public/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="https://github.com/NakamaStream/Resources/blob/main/NakamStream-logo-HD-removebg.png?raw=true" alt="NakamaStream" style="max-height: 3rem;">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/about/jobs">Jobs</a>
                <a class="navbar-item" href="#">Discord</a>
                <a class="navbar-item" href="https://github.com/NakamaStream">Github</a>
                <a class="navbar-item" href="https://www.patreon.com/sstudiosdevelopment/membership">Donaciones</a>
            </div>
            <div class="navbar-end" style="margin-right: 2rem; margin-top: 1rem;">
                <a class="navbar-item button is-primary" href="/login" style="background-color: #ff6b6b; color: white; box-shadow: none;">Iniciar sesión</a>
            </div>
            
    </nav> 

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-one-third">
                        <img src="https://github.com/NakamaStream/Resources/blob/main/NakamStream-logo-HD-removebg.png?raw=true" alt="NakamaStream" class="waifu">
                    </div>
                    <div class="column">
                        <h1 class="title is-size-1-desktop is-size-2-mobile" style="color: #ff6b6b;">Bienvenido a NakamaStream</h1>
                        <br>
                        <p class="subtitle is-size-4-desktop is-size-5-mobile" style="color: #4a4a4a;">
                            ¡Bienvenido a nuestra plataforma de anime, donde disfrutarás de contenido 100% gratuito y sin anuncios! Queremos brindarte la mejor experiencia, por eso también estamos disponibles en dispositivos móviles. <br><br>
                            <strong>Para ver los animes, necesitarás una cuenta en NakamaStream.</strong> Esto nos permite personalizar tu experiencia, ofrecerte recomendaciones basadas en tus gustos y asegurar una experiencia libre de interrupciones. ¡Explora y disfruta de tus animes favoritas!
                        </p>
                        <br>
                        <p class="control" style="display: flex; align-items: center;">
                            <a href="/login" class="button is-primary" style="background-color: #ff6b6b; border-color: #ff6b6b; color: white;">
                                Iniciar Sesión
                            </a>
                            <a href="/register" class="button is-light ml-3">¿No estás registrado?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="section has-background-light">
        <div class="container">
            <h2 class="title is-size-2" style="color: #ff6b6b;">Características</h2>
            <div class="columns is-multiline">
                <div class="column is-4">
                    <div class="featured-anime-card">
                        <h3 class="featured-anime-title">Amplia Selección</h3>
                        <p class="featured-anime-description">Explora una vasta biblioteca de series y películas de anime en diferentes géneros.</p>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="featured-anime-card">
                        <h3 class="featured-anime-title">Alta Calidad</h3>
                        <p class="featured-anime-description">Disfruta de streaming en alta definición con calidad de audio premium.</p>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="featured-anime-card">
                        <h3 class="featured-anime-title">Experiencia Personalizada</h3>
                        <p class="featured-anime-description">Recibe recomendaciones personalizadas basadas en tu historial de visualización.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">Animes Recientes</h1>
            <div id="recent-animes" class="anime-container">
                <!-- Los animes se cargarán aquí -->
            </div>
        </div>
    </section>
    
    <section class="section has-background-light">
        <div class="container">
            <h2 class="title is-size-2" style="color: #ff6b6b;">Nuestros Fundadores</h2>
            <div class="columns is-multiline">
                <div class="column is-4">
                    <div class="box has-background-white p-5 has-text-centered">
                        <figure class="image is-128x128 mx-auto mb-4">
                            <img src="https://avatars.githubusercontent.com/u/108166164?v=4" alt="Not_staff" class="is-rounded" style="border: 2px solid #ff6b6b; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                        </figure>
                        <h3 class="title is-size-4" style="color: #4a4a4a;">Not_Staff</h3>
                        <p class="subtitle is-size-6" style="color: #7a7a7a;">Líder en el desarrollo y mantenimiento continuo de la plataforma y el servidor de NakamaStream.</p>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="box has-background-white p-5 has-text-centered">
                        <figure class="image is-128x128 mx-auto mb-4">
                            <img src="https://avatars.githubusercontent.com/u/152051773?v=4" alt="avidevs" class="is-rounded" style="border: 2px solid #ff6b6b; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                        </figure>
                        <h3 class="title is-size-4" style="color: #4a4a4a;">avidevs</h3>
                        <p class="subtitle is-size-6" style="color: #7a7a7a;">Especialista en el desarrollo interno y diseño de la infraestructura de la plataforma NakamaStream.</p>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="box has-background-white p-5 has-text-centered">
                        <figure class="image is-128x128 mx-auto mb-4">
                            <img src="https://avatars.githubusercontent.com/u/149891004?v=4" alt="SantiagolxxGG" class="is-rounded" style="border: 2px solid #ff6b6b; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                        </figure>
                        <h3 class="title is-size-4" style="color: #4a4a4a;">SantiagolxxGG</h3>
                        <p class="subtitle is-size-6" style="color: #7a7a7a;">Encargado del desarrollo y diseño gráfico de la plataforma NakamaStream.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="section has-background-white-ter">
        <div class="container">
            <h2 class="title is-size-2" style="color: #ff6b6b;">Preguntas Frecuentes</h2>
            <br>
            <div class="tabs">
                <ul>
                    <li class="tab-item is-active" data-tab="tab1">¿Qué es NakamaStream?</li>
                    <li class="tab-item" data-tab="tab2">¿Cuánto cuesta?</li>
                    <li class="tab-item" data-tab="tab3">¿Puedo verlo en mi televisor?</li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab1" class="tab-panel is-active">
                    <p>NakamaStream es una plataforma en línea que ofrece una amplia selección de series y películas de anime para disfrutar en línea.</p>
                </div>
                <div id="tab2" class="tab-panel">
                    <p>NakamaStream es completamente gratuito, por lo que no necesitas realizar ningún pago. Únicamente es necesario que crees una cuenta, y eso es todo.</p>
                </div>
                <div id="tab3" class="tab-panel">
                    <p>Sí, NakamaStream ofrece una aplicación para dispositivos Android. Si tu televisión cuenta con Android 8 o superior, puedes disfrutar de nuestra experiencia de forma gratuita.</p>
                </div>
            </div>
        </div>
    </section>    

    <footer class="footer">
        <div class="container__footer">
            <div class="footer__logo">
                <img src="https://github.com/NakamaStream/Resources/blob/main/NakamStream-logo-HD-removebg.png?raw=true" alt="NakamaStream_Logo">
                <div class="footer__version">
                    <p>NakamaStream version: 1.0</p>
                </div>
            </div>
            <div class="footer__links">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/tos">Términos de Uso</a></li>
                    <li><a href="/privacy">Política de Privacidad</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__sponsor">
            <img src="https://github.com/NakamaStream/Resources/blob/main/Sstudiosdev-removebg%20(1).png?raw=true" alt="Logo del Patrocinador">
        </div>
        <div class="footer__legal">
            <p>© 2024 NakamaStream - Ningún vídeo se encuentra alojado en nuestros servidores.</p>
        </div>
    </footer>
     
    <script src="/src/public/js/tabs.js"></script>
    <script src="/src/public/js/navMobile.js"></script>
</body>

</html>
