<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NakamaStream - Política de Privacidad</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/src/public/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://github.com/NakamaStream/Resources/blob/main/NakamStream-logo-HD-removebg.png?raw=true" alt="NakamaStream" style="max-height: 3rem;">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="#">Discord</a>
                <a class="navbar-item" href="https://github.com/NakamaStream">Github</a>
                <a class="navbar-item" href="https://www.patreon.com/sstudiosdevelopment/membership">Donaciones</a>
            </div>
            <div class="navbar-end" style="margin-right: 2rem;">
                <a class="navbar-item button is-primary" href="/login" style="background-color: #ff6b6b; color: white; box-shadow: none;">Iniciar sesión</a>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title is-size-1-desktop is-size-2-mobile" style="color: #ff6b6b;">Política de Privacidad</h1>
            <br>
            <p class="subtitle is-size-4-desktop is-size-5-mobile" style="color: #4a4a4a;">
                Esta Política de Privacidad describe cómo NakamaStream recopila, utiliza y protege la información que proporcionas cuando utilizas nuestro sitio web. Nos comprometemos a proteger tu privacidad. Si te pedimos que proporciones cierta información por la cual puedas ser identificado al usar este sitio web, puedes estar seguro de que se utilizará de acuerdo con esta declaración de privacidad.
            </p>
            <br>
            <h2 class="subtitle is-size-3-desktop is-size-4-mobile" style="color: #ff6b6b;">Información que recopilamos</h2>
            <p class="is-size-5" style="color: #4a4a4a;">
                Al utilizar nuestro sitio web, podemos recopilar la siguiente información personal:
                <ul>
                    <li>Nombre de usuario que proporcionas al crear una cuenta</li>
                    <li>Dirección de correo electrónico que proporcionas al crear una cuenta</li>
                    <li>Utilizamos cookies para mantener tu sesión abierta y brindarte una mejor experiencia de usuario.</li>
                </ul>
            </p>
            <br>
            <h2 class="subtitle is-size-3-desktop is-size-4-mobile" style="color: #ff6b6b;">Uso de la información recopilada</h2>
            <p class="is-size-5" style="color: #4a4a4a;">
                Utilizamos esta información para comprender tus necesidades y proporcionarte un mejor servicio, y en particular por las siguientes razones:
                <ul>
                    <li>Para personalizar tu experiencia en nuestro sitio web.</li>
                    <li>Para mejorar nuestros productos y servicios.</li>
                    <li>Para enviar correos electrónicos promocionales sobre nuevos productos, ofertas especiales u otra información que creemos que puede resultarte interesante utilizando la dirección de correo electrónico que has proporcionado.</li>
                    <li>Para contactarte con fines de investigación de mercado. Podemos contactarte por correo electrónico.</li>
                </ul>
            </p>
            <!-- Agrega más secciones según sea necesario -->
        </div>
    </section>    
    
    <footer class="footer">
        <div class="container__footer">
            <div class="footer__logo">
                <img src="https://github.com/NakamaStream/Resources/blob/main/NakamStream-logo-HD-removebg.png?raw=true" alt="NakamaStream_Logo">
                <div class="footer__version">
                    <p>NakamaStream version: 1.0</p>
                </div>
            </div>
            <div class="footer__links">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/tos">Términos de Uso</a></li>
                    <li><a href="/privacy">Política de Privacidad</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__sponsor">
            <img src="https://github.com/NakamaStream/Resources/blob/main/Sstudiosdev-removebg%20(1).png?raw=true" alt="Logo del Patrocinador">
        </div>
        <div class="footer__legal">
            <p>© 2024 NakamaStream - Ningún vídeo se encuentra alojado en nuestros servidores.</p>
        </div>
    </footer>

    <script src="/src/public/js/navMobile.js"></script>
</body>

</html>
