<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NakamaStream - Términos de Servicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/src/public/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://github.com/NakamaStream/Resources/blob/main/NakamStream-logo-HD-removebg.png?raw=true" alt="NakamaStream" style="max-height: 3rem;">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="#">Discord</a>
                <a class="navbar-item" href="https://github.com/NakamaStream">Github</a>
                <a class="navbar-item" href="https://www.patreon.com/sstudiosdevelopment/membership">Donaciones</a>
            </div>
            <div class="navbar-end" style="margin-right: 2rem;">
                <a class="navbar-item button is-primary" href="/login" style="background-color: #ff6b6b; color: white; box-shadow: none;">Iniciar sesión</a>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title is-size-1-desktop is-size-2-mobile" style="color: #ff6b6b;">Términos de Servicio</h1>
            <br>
            <p class="subtitle is-size-4-desktop is-size-5-mobile" style="color: #4a4a4a;">
                Bienvenido a NakamaStream. Al acceder a nuestro sitio web y utilizar nuestros servicios, aceptas cumplir y estar sujeto a los siguientes términos y condiciones de uso, que junto con nuestra política de privacidad rigen la relación de NakamaStream contigo en relación con este sitio web.
                Si no estás de acuerdo con alguna parte de estos términos y condiciones, por favor no utilices nuestro sitio web.
            </p>
            <br>
            <h2 class="subtitle is-size-3-desktop is-size-4-mobile" style="color: #ff6b6b;">1. Uso del sitio web</h2>
            <p class="is-size-5" style="color: #4a4a4a;">
                El uso de este sitio web está sujeto a las siguientes condiciones de uso:
                <ul>
                    <li>Nuestro sitio web no contiene publicidad de terceros.</li>
                    <li>No almacenamos información en tu navegador.</li>
                    <li>No está permitido el uso del sitio para actividades ilegales o inapropiadas.</li>
                    <li>No se permite el acceso no autorizado a áreas restringidas del sitio.</li>
                    <li>No se permite la distribución no autorizada de contenido del sitio.</li>
                </ul>
            </p>
            <br>
            <h2 class="subtitle is-size-3-desktop is-size-4-mobile" style="color: #ff6b6b;">2. Alojamiento de videos</h2>
            <p class="is-size-5" style="color: #4a4a4a;">
                Nuestra plataforma no aloja ningún video que se encuentre en la web. Todo el contenido es proporcionado por hostings de terceros o se incrusta desde fuentes externas. Sin embargo, nos reservamos el derecho de eliminar cualquier contenido que viole nuestros términos de servicio o que sea considerado inapropiado.
            </p>
            <br>
            <h2 class="subtitle is-size-3-desktop is-size-4-mobile" style="color: #ff6b6b;">3. Privacidad de datos</h2>
            <p class="is-size-5" style="color: #4a4a4a;">
                Nos comprometemos a no vender tus datos personales a terceros. Respetamos tu privacidad y tomamos medidas para proteger la información que nos proporcionas. Sin embargo, ten en cuenta que al utilizar nuestro sitio web, cierta información puede ser recopilada automáticamente, como tu dirección IP, para fines de análisis y mejora de nuestros servicios. Para obtener más información sobre cómo manejamos tus datos, consulta nuestra política de privacidad.
            </p>
            <br>
            <h2 class="subtitle is-size-3-desktop is-size-4-mobile" style="color: #ff6b6b;">4. Modificaciones</h2>
            <p class="is-size-5" style="color: #4a4a4a;">
                Nos reservamos el derecho de actualizar o modificar estos términos de servicio en cualquier momento sin previo aviso. Se te notificará cualquier cambio mediante la publicación de los términos actualizados en esta página. Es tu responsabilidad revisar periódicamente estos términos para estar al tanto de las modificaciones. El uso continuado del sitio después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.
            </p>
            <br>
            <h2 class="subtitle is-size-3-desktop is-size-4-mobile" style="color: #ff6b6b;">5. Limitación de responsabilidad</h2>
            <p class="is-size-5" style="color: #4a4a4a;">
                En ningún caso seremos responsables ante ti o cualquier tercero por cualquier daño directo, indirecto, incidental, especial, emergente o punitivo que surja del uso de nuestro sitio web o de la imposibilidad de usarlo. Esto incluye, entre otros, daños por pérdida de beneficios, datos, uso o cualquier otra pérdida intangible, incluso si hemos sido advertidos de la posibilidad de tales daños.
            </p>
        </div>
    </section>    
    
    <footer class="footer">
        <div class="container__footer">
            <div class="footer__logo">
                <img src="https://github.com/NakamaStream/Resources/blob/main/NakamStream-logo-HD-removebg.png?raw=true" alt="NakamaStream_Logo">
                <div class="footer__version">
                    <p>NakamaStream version: 1.0</p>
                </div>
            </div>
            <div class="footer__links">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/tos">Términos de Uso</a></li>
                    <li><a href="/privacy">Política de Privacidad</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__legal">
            <p>© 2024 NakamaStream. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="/src/public/js/navMobile.js"></script>
</body>

</html>
