<nav class="fixed bottom-0 left-0 right-0 bg-white shadow-lg md:hidden">
    <div class="flex justify-around items-center h-16">
      <a href="/" class="flex flex-col items-center text-gray-600 hover:text-primary transition duration-300">
        <i class="fas fa-home text-xl"></i>
        <span class="text-xs mt-1">Inicio</span>
      </a>
      <a href="/animes/api/search" class="flex flex-col items-center text-gray-600 hover:text-primary transition duration-300">
        <i class="fas fa-search text-xl"></i>
        <span class="text-xs mt-1">Buscar</span>
      </a>
      <a href="/calendario" class="flex flex-col items-center text-gray-600 hover:text-primary transition duration-300">
        <i class="fas fa-calendar text-xl"></i>
        <span class="text-xs mt-1">Calendario</span>
      </a>
      <a href="/profile" class="flex flex-col items-center text-gray-600 hover:text-primary transition duration-300">
        <i class="fas fa-user text-xl"></i>
        <span class="text-xs mt-1">Perfil</span>
      </a>
    </div>
</nav>
