body {
    font-family: 'Roboto', sans-serif;
}
.nav-link {
    @apply text-white hover:text-gray-400;
}
.relative.group:hover #explore-menu {
    display: grid;
}
@keyframes search-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.search-icon svg {
    transition: transform 0.3s ease;
}
.search-icon.active svg {
    animation: search-animation 0.5s ease;
}
.search-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.search-container.active {
    opacity: 1;
    visibility: visible;
}
.search-container form {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 600px;
}
.search-container input {
    padding-left: 2.5rem;
}
.search-container button {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
}
#explore-menu {
  display: grid;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#explore-menu.active {
  opacity: 1;
  transform: translateY(0);
}

.anime-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 250px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.anime-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.anime-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: -1;
}

.anime-card:hover {
    transform: scale(1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.anime-card:hover img {
    transform: translateY(-5px);
}

.anime-card:hover::before {
    transform: scaleY(1);
}