.title {
    color: #ff6b6b;
    position: relative;
}

.title::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff6b6b;
    transition: width 0.5s;
}

.title:hover::after {
    width: 100%;
}

.waifu {
    opacity: 0;
    animation: slideInLeft 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    mask-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 70%,
        rgba(255, 255, 255, 0) 100%
    );
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0) rotate(-3deg);
    }
}

.tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tabs ul li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    color: #ff6b6b;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.tabs ul li.is-active {
    border-bottom-color: #ff6b6b;
}

.tab-panel {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tab-panel.is-active {
    display: block;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff6b6b, #E38181);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff6b6b, #E38181);
}

::-webkit-scrollbar-button {
    display: none;
}

/* index.css */
.featured-anime-card {
    background-color: #ffeded;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    padding: 20px;
}

.featured-anime-card:hover {
    transform: translateY(-5px);
}

.featured-anime-title {
    color: #ff6b6b;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.featured-anime-description {
    color: #666;
}

/* Footer */
.footer {
    background-color: #ff6b6b;
    color: #fff;
    padding: 20px 0;
}

.container__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo img {
    width: 60px;
    margin-left: 20px;
}

.footer__links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__links ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer__links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer__legal {
    text-align: left;
    margin-top: 0;
}

.footer__legal p {
    font-size: 13px;
}

.footer__version {
    text-align: center;
    margin-top: 20px;
}

.footer__version p {
    font-size: 12px;
}

.navbar {
    animation: slideDown 0.5s ease;
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


.button {
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}

img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}
