/* index.css */
.featured-anime-card {
    background-color: #ffeded; /* Cambio de color de fondo */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    padding: 20px;
}

.featured-anime-card:hover {
    transform: translateY(-5px);
}

.featured-anime-title {
    color: #ff6b6b;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.featured-anime-description {
    color: #666;
}

/* Footer */
.footer {
    background-color: #ff6b6b;
    color: white;
    padding: 3rem 1.5rem;
    text-align: center;
}
