/* Estilo de diseños de roles/rangos de la plataforma de streaming 
/* NakamaStream estos en furo se van añadir mas diseños.

/* © 2024 NakamaStream - Ningún vídeo se encuentra alojado en nuestros servidores.

/* NOVATOS */
.novato-i {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ffc107;
    border-radius: 3px;
    background-color: #ffc107;
    font-size: 0.75rem;
  }
  
  .novato-ii {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #28a745;
    border-radius: 3px;
    background-color: #28a745;
    font-size: 0.75rem;
  }
  
  .novato-iii {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #6f42c1;
    border-radius: 3px;
    background-color: #6f42c1;
    font-size: 0.75rem;
  }
  
  /* PRINCIPIANTE */
  .principiante-i {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #fd7e14;
    border-radius: 3px;
    background-color: #fd7e14;
    font-size: 0.75rem;
  }
  
  .principiante-ii {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #e83e8c;
    border-radius: 3px;
    background-color: #e83e8c;
    font-size: 0.75rem;
  }
  
  .principiante-iii {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #17a2b8;
    border-radius: 3px;
    background-color: #17a2b8;
    font-size: 0.75rem;
  }
  
  /* EXPERTO */
  .experto-i {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #6c757d;
    border-radius: 3px;
    background-color: #6c757d;
    font-size: 0.75rem;
  }
  
  .experto-ii {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #fd7e14;
    border-radius: 3px;
    background-color: #fd7e14;
    font-size: 0.75rem;
  }
  
  .experto-iii {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #28a745;
    border-radius: 3px;
    background-color: #28a745;
    font-size: 0.75rem;
  }
  
  /* STAFF */
  .administrador {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid red;
    border-radius: 3px;
    background-color: red;
    font-size: 0.75rem;
  }
  
  .moderador {
    display: inline-block;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #007bff;
    border-radius: 3px;
    background-color: #007bff;
    font-size: 0.75rem;
  }
