<!DOCTYPE html>
<html lang="es" class="h-full bg-gray-50">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NakamaStream - Login</title>
    <link rel="shortcut icon" href="https://github.com/NakamaStream/Resources/blob/main/NakamStream-logo-HD-removebg.png?raw=true" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        custom: '#ff6b6b',
                    }
                }
            }
        }
    </script>
</head>
<body class="h-full flex items-center justify-center p-4 bg-gray-50">
    <div class="w-full max-w-md">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="p-8 space-y-8">
                <div class="text-center">
                    <img src="https://github.com/NakamaStream/Resources/blob/main/NakamStream-logo-HD-removebg.png?raw=true" alt="NakamaStream Logo" class="mx-auto h-20 w-auto mb-4">
                    <h1 class="text-3xl font-bold text-custom">NakamaStream</h1>
                    <p class="mt-2 text-sm text-gray-600">Inicio de sesión</p>
                </div>

                <!-- Errores -->
                <% if (errorMessage) { %>
                    <div class="bg-custom bg-opacity-10 border-l-4 border-custom text-custom p-4 rounded-r-md" role="alert">
                        <p class="text-sm"><%= errorMessage %></p>
                    </div>
                <% } %>                

                <form action="/login" method="post" class="space-y-6">
                    <div>
                        <label for="username" class="block text-sm font-medium text-gray-700">Nombre de usuario</label>
                        <div class="mt-1 relative rounded-md shadow-sm">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <i class="fas fa-user text-custom"></i>
                            </div>
                            <input type="text" id="username" name="username" required
                                   class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom sm:text-sm transition duration-150 ease-in-out"
                                   placeholder="Nombre de usuario">
                        </div>
                    </div>

                    <div>
                        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
                        <div class="mt-1 relative rounded-md shadow-sm">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <i class="fas fa-lock text-custom"></i>
                            </div>
                            <input type="password" id="password" name="password" required
                                   class="block w-full pl-10 pr-10 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom sm:text-sm transition duration-150 ease-in-out"
                                   placeholder="Contraseña">
                            <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
                                <button type="button" onclick="togglePassword()" class="text-gray-500 focus:outline-none">
                                    <i id="togglePasswordIcon" class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="captcha" class="block text-sm font-medium text-gray-700">Captcha</label>
                        <div class="flex items-center justify-between">
                            <p class="mt-1 text-sm text-gray-500" id="captcha-phrase"><%= captchaPhrase %></p>
                            <button type="button" id="reload-captcha" class="text-custom hover:text-opacity-90 transition duration-150 ease-in-out">
                                <i class="fas fa-redo"></i> Recargar Captcha
                            </button>
                        </div>
                        <div class="mt-1 relative rounded-md shadow-sm">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <i class="fas fa-comment text-custom"></i>
                            </div>
                            <input type="text" id="captcha" name="captchaInput" required
                                   class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom sm:text-sm transition duration-150 ease-in-out"
                                   placeholder="Completa la frase">
                        </div>
                    </div>                    

                    <div>
                        <button type="submit"
                                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-custom hover:bg-opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-custom transition duration-150 ease-in-out">
                            Iniciar sesión
                        </button>
                    </div>
                </form>
            </div>

            <div class="px-8 py-6 bg-gray-50 border-t border-gray-200 space-y-2 sm:px-10">
                <p class="text-xs leading-5 text-gray-500 text-center">
                    <a href="/register" class="font-medium text-custom hover:text-opacity-90 transition duration-150 ease-in-out">
                        ¿No estás registrado? Regístrate aquí
                    </a>
                </p>
                <p class="text-xs leading-5 text-gray-500 text-center">
                    <a href="/password/forgot" class="font-medium text-custom hover:text-opacity-90 transition duration-150 ease-in-out">
                        ¿Olvidaste tu contraseña?
                    </a>
                </p>
            </div>

            <!-- Modal -->
            <div id="disclaimerModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
                <div class="bg-white rounded-lg shadow-lg p-6 max-w-md mx-auto text-center">
                    <h2 class="text-2xl font-bold text-custom mb-4">Aviso importante</h2>
                    <p class="text-sm text-gray-600 mb-6">
                        NakamaStream no se responsabiliza por el contenido protegido por derechos de autor. Ningún contenido de este tipo se encuentra en la plataforma.
                    </p>
                    <button id="acceptDisclaimer" 
                            class="w-full py-2 px-4 bg-custom text-white rounded-md shadow-sm hover:bg-opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-custom">
                        Aceptar y continuar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>

        const form = document.querySelector("form");
        const modal = document.getElementById("disclaimerModal");
        const acceptButton = document.getElementById("acceptDisclaimer");

        form.addEventListener("submit", function (event) {
            event.preventDefault();
            modal.classList.remove("hidden");
        });

        // Ocultar el modal y continuar con el envío
        acceptButton.addEventListener("click", function () {
            modal.classList.add("hidden");
            form.submit();
        })
        function togglePassword() {
            const passwordField = document.getElementById('password');
            const toggleIcon = document.getElementById('togglePasswordIcon');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }

        document.getElementById("reload-captcha").addEventListener("click", function() {
            fetch("/api/auth/new-captcha")
            .then(response => response.json())
            .then(data => {
                // Actualiza el captcha
                document.getElementById("captcha-phrase").textContent = data.captchaPhrase;
            })
            .catch(error => console.error("Error al recargar el captcha:", error));
        });

        document.getElementById("loginForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Detiene el envío del formulario
            document.getElementById("disclaimerModal").classList.remove("hidden");
        });

        document.getElementById("acceptDisclaimer").addEventListener("click", function() {
            document.getElementById("disclaimerModal").classList.add("hidden");
            // Envía el formulario una vez aceptado el aviso
            document.getElementById("loginForm").submit();
        });
    </script>    
</body>
</html>
